<a href="https://colab.research.google.com/github/Priyansh4615/Projects-of-DA-and-ML/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing required libraries**

In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**Loading the dataset**

In [15]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [16]:
#first 5 rows of the data
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [17]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [19]:
credit_card_data.shape

(284807, 31)

In [7]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57531 entries, 0 to 57530
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    57531 non-null  int64
 1   V1      57531 non-null  float64
 2   V2      57531 non-null  float64
 3   V3      57531 non-null  float64
 4   V4      57531 non-null  float64
 5   V5      57530 non-null  float64
 6   V6      57530 non-null  float64
 7   V7      57530 non-null  float64
 8   V8      57530 non-null  float64
 9   V9      57530 non-null  float64
 10  V10     57530 non-null  float64
 11  V11     57530 non-null  float64
 12  V12     57530 non-null  float64
 13  V13     57530 non-null  float64
 14  V14     57530 non-null  float64
 15  V15     57530 non-null  float64
 16  V16     57530 non-null  float64
 17  V17     57530 non-null  float64
 18  V18     57530 non-null  float64
 19  V19     57530 non-null  float64
 20  V20     57530 non-null  float64
 21  V21     57530 non-null  float64
 22  V22     57530 non-null  float64
 23  V23     57530 non-null  float64
 24  V24     57530 non-null  float64
 25  V25     57530 non-null  float64
 26  V26     57530 non-null  float64
 27  V27     57530 non-null  float64
 28  V28     57530 non-null  float64
 29  Amount  57530 non-null  float64
 30  Class   57530 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 13.6 MB

In [8]:
#checking for missing values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [20]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is highly Unbalanced

In [21]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [23]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [24]:
#statistical measures of the dataset
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [25]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [27]:
# comparing the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**Under-Sampling**

Build a sample dataset containing similar distribution of normal transaction and Fraud Transaction

In [28]:
legit_sample = legit.sample(n=492)

joining two datasets

In [29]:
new_df = pd.concat([legit_sample, fraud], axis=0)

In [30]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
230034,146158.0,2.022531,0.729521,-1.183524,3.461584,1.089768,0.197178,0.392923,-0.220214,-1.268780,...,0.178942,0.616075,-0.074152,-1.036709,0.298526,0.196184,-0.034668,-0.060844,1.00,0
130081,79278.0,-0.433779,1.007484,1.276167,-0.099652,0.245035,-0.185412,0.532192,0.222426,-0.630189,...,-0.184499,-0.479190,0.013765,-0.039231,-0.268186,0.084816,0.255618,0.084545,7.28,0
145706,87146.0,-0.269992,0.774448,-0.806605,-0.536963,0.978857,-0.708773,1.583865,-0.189871,-0.273690,...,-0.137241,-0.464638,0.135441,0.373024,0.020467,0.356541,0.191284,0.132617,119.14,0
1232,950.0,-0.194291,1.418104,-0.121403,0.923643,0.281804,-0.714429,0.606500,0.267974,-0.778569,...,0.208306,0.757402,0.085444,0.104186,-0.743330,-0.385085,0.335413,0.165982,0.79,0
17325,28628.0,-1.377456,-0.059429,2.273490,0.435661,0.088388,0.187623,0.516371,0.333910,0.382045,...,0.047612,0.024832,-0.038666,0.049527,0.684444,-0.384531,0.021096,0.074614,114.00,0

In [31]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [32]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [33]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96540.591463,-0.044807,0.021072,-0.078691,-0.002388,-0.029359,-0.002474,0.002862,-0.129120,-0.056251,...,-0.005010,-0.037452,0.039913,-0.002033,-0.041031,0.031328,0.053388,-0.011122,-0.008546,93.386687
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into Features and Targets

In [34]:
X = new_df.drop(columns = 'Class', axis=1)
Y = new_df['Class']

In [35]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
230034  146158.0  2.022531  0.729521 -1.183524  3.461584  1.089768  0.197178
130081   79278.0 -0.433779  1.007484  1.276167 -0.099652  0.245035 -0.185412
145706   87146.0 -0.269992  0.774448 -0.806605 -0.536963  0.978857 -0.708773
1232       950.0 -0.194291  1.418104 -0.121403  0.923643  0.281804 -0.714429
17325    28628.0 -1.377456 -0.059429  2.273490  0.435661  0.088388  0.187623
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
230034  0.392923 -0.220214 -1.268780  ... -0.183203  0.178942  0.616075
130081  0.532192  0.222426 -0.630189  ...  0.089415 -0.184499 -0.479190
145706  1.583865 -0.189871 -0.273690  ...  0.288760 -0.137241 -0.464638
1232    0.606500  0.267974 -0.778569  ... -0.067058  0.208306  0.757402
17325   0.516371  0.333910  0.382045  ...  0.046648  0.047612  0.024832
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
230034 -0.074152 -1.036709  0.298526  0.196184 -0.034668 -0.060844    1.00
130081  0.013765 -0.039231 -0.268186  0.084816  0.255618  0.084545    7.28
145706  0.135441  0.373024  0.020467  0.356541  0.191284  0.132617  119.14
1232    0.085444  0.104186 -0.743330 -0.385085  0.335413  0.165982    0.79
17325  -0.038666  0.049527  0.684444 -0.384531  0.021096  0.074614  114.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [36]:
print(Y)

230034    0
130081    0
145706    0
1232      0
17325     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into train and test data

In [37]:
X_train , X_test , Y_train , Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y , random_state=2)

In [38]:
print(X.shape , X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model training

**Logistic Regression**

In [39]:
model = LogisticRegression()

In [40]:
# training the Logistic Regression Model with Training Data
model.fit(X_train , Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

**Accuracy Score**

In [41]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [42]:
print(training_data_accuracy)

0.9491740787801779

In [43]:
# Accuracy on Test Data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [44]:
print(testing_data_accuracy)

0.9390862944162437